<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quản lí tin tức</title>
	<link rel="stylesheet" href="../vendor/bootstrap.css">
		<script src="../vendor/bootstrap.js"></script>
		<script src="../ckeditor/ckeditor.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body style="background-image: url(images/background_2.jpg); background-size: cover;">
<hr>
<div class="container">
<div class="col-sm-12" >
	<div class="alert alert-info" role="alert" align="center" >
		<nav class="navbar ">
			<div class="show-user">

				<h5><span class="fa fa-user"></span> Welcome <%= user.username %></h5>
				<a href="/logout" class="btn btn-danger btn-sm">Logout</a>
			</div>
			<br>
			<div class="content">
			<a href="../"><h1>Home</h1></a>
			<br>
			<a href="../admin/signupadmin" class="btn btn-success">Thêm tài khoản Admin</a>
			<a href="../admin/danhmuc"><button type="button" class="btn btn-warning">Quản lý danh mục</button></a>
			<a href="../admin/tin"><button type="button" class="btn btn-primary">Quản lý tin</button></a>
			<a href="../admin/confirmaccount"><button type="button" class="btn btn-danger">Phê duyệt tài khoản</button></a>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
