  <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                 <div class="bottom-footer-area" align="center">
                        <div class="container h-100">
                            <div class="row h-100 align-items-center">
                                <div class="col-12">
                                    <a href=""><img style="padding-top: 10px;" src="/images/logo.png" alt=""> </a>
                                    <p style="color: red;">ĂN HẠI TEAM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                <div class="row" style="margin-left: 270px;">
                    <!-- Footer Widget Area -->
                   
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <a href=""><h5 class="widget-title">Giới thiệu</h5></a>
                            <!-- List -->
                            
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <a href=""><h5 class="widget-title">Liên hệ</h5></a>
                            <!-- List -->
                            
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <a href=""><h5 class="widget-title">Tuyển dụng</h5></a>
                            <!-- List -->
                            
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <a href=""><h5 class="widget-title">Quảng cáo</h5></a>
                            <!-- List -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area" align="center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Design <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/fpgauchoa/" target="_blank">ĂN HẠI TEAM</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>